<table class="table" border="0">    
    <tbody>
    <% var total=0; %>
    <% for(var i=0; i< data.length; i++) { %>
      <tr class="<%=  data[i].payment_mode %> all">
        <td><strong><%=  data[i].note %></strong><br/><small><%=  data[i].payment_mode.replace('_',' ').toUpperCase() %></small></td>
        <td><small>Rs. <%=  data[i].amount %> </small></td>
        <td><small><%=  data[i].fday %> <%=  data[i].fmonth %> <%=  data[i].fyear %> </small><br><small><%=  data[i].ftime %> </small></td>
      </tr> 
       <% total+= parseInt(data[i].amount); %>    
    <% } %>
    <tr class="total">
        
        <td><strong>Total</strong></td>
        <td><strong>Rs. <%= total %> </strong></td>
        <td></td>
      </tr>
</table>