<table class="table " border="0">    
    <tbody>
    <% var total=0; var startMonth = data[0].fmonth; %>
    <% for(var i=0; i< data.length; i++) { %>      
      <% if (data[i].fmonth != startMonth  ) { %>
        <tr class="total">
          <td><strong>Total</strong></td>
          <td><strong>Rs. <%= total %> </strong></td>
          <td><strong><%=  data[i-1].fmonth %> <%=  data[i].fyear %></strong></td>        
        </tr>
      <% total = 0;startMonth = data[i].fmonth; %>   
      <% } %>
        <tr class="<%=  data[i].payment_mode %> all">
          <td>
              <strong><%=  data[i].note %></strong><br/>
              <small><%=  data[i].payment_mode.replace('_',' ').toUpperCase() %></small>
          </td>
          <td><small>Rs. <%=  data[i].amount %> </small></td>
          <td><small><%=  data[i].fday %> <%=  data[i].fmonth %> <%=  data[i].fyear %></small><br><small><%=  data[i].ftime %> </small></td>
        </tr>
      <% total+= parseInt(data[i].amount); %>  
      <% if (i == data.length-1 ) { %>
        <tr class="total">
          <td><strong>Total</strong></td>
          <td><strong>Rs. <%= total %> </strong></td>
          <td><strong><%=  data[i].fmonth %> <%=  data[i].fyear %></strong></td>        
        </tr>
      <% } %> 
    <% } %>
</table>